<!-- CSS -->
<base href="/templates">
	<link rel="stylesheet" href="static/public/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/public/css/style.css"> <!-- custom styles -->
	<link rel="stylesheet"href="static/public/libs/nvd3/build/nv.d3.min.css" >
	<!-- JS -->
	<script src="static/public/libs/angular/angular.min.js"></script>
	<script src="static/public/libs/angular-route/angular-route.min.js"></script>

	<!-- ANGULAR CUSTOM -->
	<script src="static/public/js/controllers/MainCtrl.js"></script>
	<script src="static/public/js/controllers/BarCtrl.js"></script>
	<script src="static/public/js/controllers/LineCtrl.js"></script>
	<script src="static/public/js/appRoutes.js"></script>
	<script src="static/public/js/app.js"></script>
	<script src="static/public/libs/angular/angular.js"></script>
	<script src="static/public/libs/d3/d3.js"></script>
	<script src="static/public/libs/angularjs-nvd3-directives/angularjs-nvd3-directives.js"></script>
	<script src="static/public/libs/nvd3/build/nv.d3.min.js"></script>


<div class="jumbotron text-center">

	<h2>Emergency Overview</h2>

	<div id="barChart" ng-app='sampleApp' ng-controller="BarController"><svg width="300" height="200"></svg></div>
</div>