<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>911 Emergency</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css"> <!-- custom styles -->
	<link rel="stylesheet" href="/static/libs/nvd3/build/nv.d3.min.css" >
	<!-- JS -->
	<script src="/static/libs/angular/angular.min.js"></script>
	<script src="/static/libs/angular-route/angular-route.min.js"></script>
	<script src=https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js></script>
	<!-- ANGULAR CUSTOM -->
	<script src="/static/js/controllers/MainCtrl.js"></script>
	<script src="/static/js/controllers/DonutCtrl.js"></script>
	<script src="/static/js/controllers/TrendCtrl.js"></script>
	<script src="/static/js/controllers/MapCtrl.js"></script>
	<script src="/static/js/controllers/FakeCallCtrl.js"></script>
	<script src="/static/js/appRoutes.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/app.config.js"></script>
	<script src="/static/libs/angular/angular.js"></script>
	<script src="/static/libs/d3/d3.js"></script>
	<script src="/static/libs/angularjs-nvd3-directives/angularjs-nvd3-directives.js"></script>
	<script src="/static/libs/nvd3/build/nv.d3.min.js"></script>

	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>



</head>
<body ng-app="sampleApp" ng-controller="DonutController">
<div class="container">



	<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">911 Emergency Analysis Dashboard</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/trend">Trends</a></li> -->
			<li><a href="/donut">Overview</a></li>
			<li><a href="/trend_comparison">Trend Comparison</a></li>
			<li><a href="/map">Map</a></li>
			<li><a href="/fake">Fake Call Expenditure</a></li>
			<li><a href="/home">Home Value Trends</a></li>
			<li><a href="/small_b">Small Business Trend</a></li>
		</ul>
	</nav>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ng-view>
	</div>



</div>
</body>
</html>
