<!DOCTYPE html>
<html>
        <head>
          <link rel="stylesheet" href="static/public/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/public/css/style.css"> <!-- custom styles -->
	<link rel="stylesheet"href="static/public/libs/nvd3/build/nv.d3.min.css" >
</head>
<body>
  <form action = "{{ url_for('emergency') }}" method = "POST">
<select name="year_select" >
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
</select>
  <p><input type = "submit" value = "submit" /></p>
  </form>
</body>
</html>
