<div class="jumbotron text-center">
	<b><h2>Latest Emergency Trends</h2></b>
	<div>

	<select ng-model="year" ng-options="x for x in yearlist">Year</select>

	<select ng-model="category" ng-init="categories()" ng-options="x for x in categoriesData" ng-change = "subcategories()">Category</select>

	<select ng-model="subcategory" ng-options="x for x in subcategoriesData">Sub-Category</select>

	<input type="button" value="Send" ng-click="getTrends(year,category,subcategory)" /> <br/><br/>
	</div>

	<div id="trendChart" ng-app='sampleApp' ng-controller="TrendController"><svg width="300" height="200"></svg></div>

</div>


