/*body { padding-top:30px; }*/



.webdesigntuts-workshop {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.nvd3 text {
  font: normal 12px sans-serif !important;
}
.nvd3 .title {
  font: normal 12px sans-serif !important;
}
.nvtooltip {
  font-family: sans-serif !important;
}
...


